{% extends 'core/base.html' %}
{% block contenido %}
<br><br><br><br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body text-start">
                <h2>Voucher de la compra</h2>
                <hr>
                <table class="table table-striped table-hover table-responsive-sm ">
                    <p><strong>ID del Pago:</strong> {{ voucher.payment_id }}</p>
                    <p><strong>ID del Pagador:</strong> {{ voucher.payer_id }}</p>
                    <p><strong>ID del Pedido:</strong> {{ voucher.order_id }}</p>
                    <p><strong>Nombre:</strong> {{ voucher.details.payer.payer_info.first_name }}</p>
                    <p><strong>Apellido:</strong> {{ voucher.details.payer.payer_info.last_name }}</p>
                    <p><strong>Email:</strong> {{ voucher.details.payer.payer_info.email }}</p>
                    <p><strong>Cantidad:</strong> ${{ voucher.details.transactions.0.amount.total }} USD</p>
                    <p><strong>Metodo de Pago:</strong> {{ voucher.details.payer.payment_method }} </p>
                    <p><strong>Fecha:</strong> {{ voucher.details.create_time }}</p>
                    <hr>
                    <!--<p><strong>Detalles:</strong> {{ voucher.details }}</p>-->
                </table>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}