<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Voucher de la compra</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        h1 {
            text-align: center;
        }

        p {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <p><strong>ID del Pago:</strong> {{ voucher.payment_id }}</p>
    <p><strong>ID del Pagador:</strong> {{ voucher.payer_id }}</p>
    <p><strong>ID del Pedido:</strong> {{ voucher.order_id }}</p>
    <p><strong>Nombre:</strong> {{ voucher.details.payer.payer_info.first_name }}</p>
    <p><strong>Apellido:</strong> {{ voucher.details.payer.payer_info.last_name }}</p>
    <p><strong>Cantidad:</strong> ${{ voucher.details.transactions.0.amount.total }}</p>
    <p>--------------------------------------------------------------------------------</p>
    <p><strong>Detalles:</strong> {{ voucher.details }}</p>
</body>

</html>