{% extends 'core/base.html' %}
{% block contenido %}
<div class="container py-5 mt-5">
    <h1>Voucher de la compra</h1>
    <p><strong>ID del Pago:</strong> {{ voucher.payment_id }}</p>
    <p><strong>ID del Pagador:</strong> {{ voucher.payer_id }}</p>
    <p><strong>ID del Pedido:</strong> {{ voucher.order_id }}</p>
    <p><strong>Nombre:</strong> {{ voucher.details.payer.payer_info.first_name }}</p>
    <p><strong>Apellido:</strong> {{ voucher.details.payer.payer_info.last_name }}</p>
    <p><strong>Cantidad:</strong> ${{ voucher.details.transactions.0.amount.total }}</p>
    <p>--------------------------------------------------------------------------------</p>
    <p><strong>Detalles:</strong> {{ voucher.details }}</p>
</div>
{% endblock %}