{% extends 'core/base-login.html' %}

{% load crispy_forms_tags %}

{% block contenido_registration %}
<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">

                    <form method="POST" action="." class="box">
                        {% csrf_token %}

                        <h1 class="has-text-centered mb-5 is-size-4">Enter your new password</h1>

                        <div class="field">
                            <label for="" class="label">New password</label>
                            <div class="control has-icons-left">
                                {{ form.new_password1 }}
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="" class="label">Confirm New Password</label>
                            <div class="control has-icons-left">
                                {{ form.new_password2 }}
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>


                        <div class="field">
                            <button class="button is-success" type="submit">
                                Save
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}