{% extends 'core/base-login.html' %}

{% load crispy_forms_tags %}

{% block contenido_registration %}
<form method="POST" action="." class="box">
    {% csrf_token %}

    <h1 class="has-text-centered mb-5 is-size-3">Reset Password</h1>

    <div class="field">
        <label for="" class="label">Enter your email address</label>
        <div class="control has-icons-left">
            {{ form.email|as_crispy_field }}
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <button class="button is-success" type="submit">
            Reset password
        </button>
    </div>
</form>
{% endblock %}