{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<section class="h-100 h-custom" style="background-color: #eee; margin-top: 4%;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        {% if user.is_authenticated %}
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">Carrito de {{ user.first_name }}</h5>
                                    <h5 class="card-title">{{ total_cantidad }} Items</h5>
                                </div>
                                <hr>
                                {% for x in cart %}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img src="{{ x.obra.imagen.url }}" class="img-fluid rounded-3"
                                                        alt="Shopping item" style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h5>{{ x.obra.titulo }}</h5>
                                                    <p class="small mb-0">{{ x.obra.autor }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 50px;">
                                                    <h5 class="fw-normal mb-0">{{ x.cantidad }}</h5>
                                                </div>
                                                <div style="width: 80px;">
                                                    <h5 class="mb-0">$ {{ x.obra.valor }}</h5>
                                                </div>
                                                <a href="{% url 'del_cart' x.id %}" style="color: #cecece;"><i
                                                        class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-5">
                                <h5 class="card-title text-center mb-4">Detalle</h5>
                                <hr>
                                <div class="card bg-dark text-white rounded">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <p class="mb-1 mt-2"><b>Subtotal</b></p>
                                            <p class="mb-1 mt-2">$ {{ subtotal }}</p>
                                        </div>
                                        <hr>
                                        {% for x in cart %}
                                        <div class="d-flex justify-content-between">
                                            <p class="mb-1">{{ x.obra.titulo }}</p>
                                            <p class="mb-1">$ {{ x.subtotal }}</p>
                                        </div>
                                        {% endfor %}
                                        <hr>
                                        <div class="d-flex justify-content-between">
                                            <p class="mb-1"><b>Envio</b></p>
                                            <p class="mb-1">$ {{ envio }}</p>
                                        </div>
                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-1"><b>Total</b></p>
                                            <p class="mb-1">$ {{ total }}</p>
                                        </div>
                                        <div style="justify-content: center;" class="text-center" id="paypal-button"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    <h1> Debe iniciar sesión para utilizar el carrito.</h1>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
    paypal.Button.render({
        env: 'sandbox',
        client: {
            sandbox: 'AWvy2NBr7b0Q3KAfvop1kPOiPGsOhYVLLMiQbNJHfoKMHXLI7T_VlVkgn4mAz7UpIcLJjXTWWj_GtoVB',
            production: 'demo_production_client_id'
        },
        locale: 'en_US',
        style: {
            size: 'medium',
            color: 'gold',
            shape: 'rect',
        },
        commit: true,
        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: '{{ total }}',
                        currency: 'USD'
                    }
                }]
            });
        },
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function (details) {
                // Send the transaction details to the server
                return fetch('/confirmacion/', {
                    method: 'post',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        paymentID: data.paymentID,
                        payerID: data.payerID,
                        orderID: data.orderID,
                        paymentToken: data.paymentToken,
                        returnUrl: data.returnUrl,
                        details: details
                    })
                }).then(function (res) {
                    if (res.ok) {
                        return res.json();
                    } else {
                        throw new Error('Payment confirmation failed.');
                    }
                }).then(function (json) {
                    // Redirect to the confirmation page with the voucher ID
                    window.location.href = '/confirmacion/' + json.voucher_id + '/';
                }).catch(function (err) {
                    console.error(err);
                });
            });
        }
    }, '#paypal-button');
</script>


{% endblock %}