{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!-- Start Content -->
<div class="container py-5" style="margin-top: 4%;">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Colecciones</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-4 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Recomendados</option>
                            <option>Precio Menor a Mayor</option>
                            <option>Precio Mayor a Menor </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for s in page_obj %}
            {% if s.habilitado == True %}
            <div class="col-3">
                <div class="card mb-4 product-wap rounded-0 obra-card">
                    <div class="card rounded-0">
                        <a href="{% url 'coleccion_detalle' s.id %}">
                            <img class="card-img" src="{{ s.imagen.url }}">
                        </a>
                        <div
                            class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-dark text-white mt-2" href="{% url 'coleccion_detalle' s.id %}"><i
                                            class="far fa-eye"></i></a></li>
                                <li>
                                    <form action="{% url 'add_cart' s.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <a type="submit" class="btn btn-dark text-white mt-2"
                                            href="{% url 'add_cart' s.id %}"><i class="fas fa-cart-plus"></i></a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if s.titulo|length < 24 %} <a href="{% url 'coleccion_detalle' s.id %}"
                            style="text-decoration: none;">
                            <h5 class="card-title">{{ s.titulo }}</h5>
                            </a>
                            {% else %}
                            <a href="{% url 'coleccion_detalle' s.id %}" style="text-decoration: none;">
                                <h5 class="card-title">{{ s.titulo|truncatechars:24 }}</h5>
                            </a>
                            {% endif %}
                            <a href="{% url 'artista_detalle' s.autor.id %}"
                                style="text-decoration: none; color: #222;">
                                <p class="card-text mb-2">{{ s.autor }}</p>
                            </a>
                            <p class="card-text">USD ${{ s.valor|floatformat:"0g" }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination" style="justify-content: center; margin-top: 3%;">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<!-- End Content -->

{% endblock %}
