{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

{% load crispy_forms_tags %}
<br><br><br><br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body text-start">
                <h2>Mis Datos</h2>
                <hr>
                <table class="table table-responsive-sm ">
                    <tbody>
                        <tr><th>Usuario</th><td>{{ user.username }}</td></tr>
                        <tr><th>Nombre</th><td>{{ user.first_name }}</td></tr>
                        <tr><th>Apellido</th><td>{{ user.last_name }}</td></tr>
                        <tr><th>Email</th><td>{{ user.email }}</td></tr>
                    </tbody>
                
                    
                </table>
                <a href="{% url 'userupd' user.id %}" class="btn btn-outline-success">Modificar Datos</a> 
            </div>
        </div>
        <br>
        <!--<div class="card">
            <div class="card-body text-start">
                <h2>Mi Contraseña</h2>
                <hr>
                <table class="table table-responsive-sm ">
                    <tbody>
                        <tr><th>Contraseña</th><td>**********</td></tr>
                    </tbody>
                </table>
                <a href="#" class="btn btn-outline-success">Cambiar Contraseña</a>
            </div>
        </div>-->
    </div>
</div>
<br><br><br><br>
{% endblock %}
