{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<section id="header" class="bg-light py-5 py-md-5 mt-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Gracia Berrios</h2>
                <p class="text-secondary mb-5 text-center">nació el 27 de junio de 1927 en Santiago, Chile y
                    falleció el 28 de mayo de 2020 en la misma
                    ciudad.
                </p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
</section>
<!-- Inicio Contenido -->
<section class="artista-uno border-bottom pb-3  " id="artista-uno">
    <ul class="contenido-artista ">
        <li class="artista-izq"></li>
        <li class="artista-der">
            <h4>Biografia</h4>
            <p>Gracia Barrios Rivadeneira nació el 27 de junio de 1927 en Santiago, Chile

                Hija del escritor chileno y Premio Nacional de Literatura Eduardo Barrios (1884-1963), desde muy
                temprano manifestó interés y aptitudes para el arte, lo cual la llevó a tomar clases con el artista
                Carlos Isamitt y más tarde, mientras proseguía sus estudios secundarios, a desarrollar cursos
                vespertinos en la Escuela de Bellas de Arte de la Universidad de Chile. Posteriormente, entre los
                años
                1944 y 1949, continuó su formación artística en dicha casa de estudios, donde fue alumna de Augusto
                Eguiluz, Carlos Pedraza y Pablo Burchard, de quien admitió haber recibido importantes influencias
                que se
                expresaron en su trabajo pictórico.

                En los años 40 formó parte del Grupo de Estudiantes Plásticos de la Universidad de Chile, el cual
                abogó
                por una actualización y mejoramiento de la enseñanza del arte en el país, organizando diversas
                instancias alternativas para la circulación y difusión de prácticas y discursos. A comienzos de la
                década de 1960, junto a su marido el pintor José Balmes y a los artistas Alberto Pérez y Eduardo
                Martínez Bonati, formó el Grupo Signo, que propugnó en Chile una pintura abstracta, expresiva y
                gestual,
                influenciada por el movimiento informalista europeo. Asimismo, Signo planteó la necesidad de que el
                arte
                y los artistas ejercieran un rol político en el entramado social de su tiempo.

                La artista participó activamente en las transformaciones culturales impulsadas desde fines de los
                años
                60 en Chile, primero con el proceso de Reforma Universitaria y luego en el marco del programa
                político
                de la Unidad Popular. Tras el golpe de estado de 1973, Barrios partió al exilio junto a Balmes y la
                hija
                de ambos, Concepción Balmes (también pintora), radicándose en Francia.

                A lo largo de su extensa trayectoria artística, Gracia Barrios ha demostrado una constante
                preocupación
                por los problemas políticos y sociales de su contexto cercano, eligiendo como tema central de su
                obra la
                condición humana, los sueños y el sufrimiento de hombres y mujeres. Si bien sus primeras obras
                fueron
                dibujos y pinturas figurativas, en los 60 y alineada con las propuestas de Signo, su pintura asumió
                un
                tono más cercano al informalismo y la abstracción: en sus trabajos predominó el gesto y la
                experimentación matérica en tonalidades oscuras dadas por la utilización de tierras.

                A inicios de los años 70 retomó un camino más figurativo que la vinculó de manera más directa con la
                contingencia histórica nacional. De este periodo destacan una serie de obras de gran formato en las
                que
                representa de manera sintética a multitudes anónimas, al pueblo chileno y latinoamericano,
                contribuyendo
                así a la creación de una identidad visual para la comunidad de la región. Posteriormente, su exilio
                estuvo marcado por la construcción de imágenes que denunciaban la represión vivida en el país. De
                regreso a Chile a mediados de los 80, sus lienzos continuaron representando preferentemente la
                figura
                humana, desde ese momento incorporó además signos gráficos hechos con carboncillo y pastel.

                Aún cuando la artista ha experimentado con distintas técnicas, su medio predilecto ha sido la
                pintura,
                utilizando generalmente óleo y acrílico.

                Su obra ha sido exhibida en distintas ciudades de Chile y en países como España, Francia, México,
                Argentina, Colombia, Japón y Estados Unidos entre otros, alcanzando renombre internacional. En sus
                primeros años de carrera, Barrios fue galardonada en varios salones oficiales en Santiago, a lo cual
                le
                siguieron otros importantes premios nacionales como internacionales. No obstante, su mayor
                reconocimiento a nivel local llegaría en 2011 con la adjudicación del Premio Nacional de Artes
                Plásticas.

                Barrios compatibilizó su trabajo artístico con labores docentes en diferentes casas de estudio. En
                sus
                inicios se desempeñó como ayudante del taller de dibujo de Carlos Pedraza en la Universidad de
                Chile,
                para posteriormente integrar el cuerpo docente y asumir otros cargos institucionales hasta 1973. En
                1986
                la artista se incorporó como profesora visitante en la Escuela de Arte de la Pontificia Universidad
                Católica de Chile, cargo que ejerció hasta 1993. En la década de los 90, ofició como profesora de
                dibujo
                en la Universidad Finis Terrae.

                Gracia Barrios falleció el 28 de mayo de 2020 en Santiago, Chile.</p>
        </li>

    </ul>
</section>

{% endblock %}