{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!-- Start Content -->
<div class="container py-5" style="margin-top: 4%;">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="h2 pb-4">Filtro Artistas</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Pintor
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" style="margin-left: 30%;" href="#">Gracia Barrios</a></li>
                        <li><a class="text-decoration-none" style="margin-left: 30%;" href="#">Roberto Matta</a></li>
                        <li><a class="text-decoration-none" style="margin-left: 30%;" href="#">Claude Monet</a></li>
                        <li><a class="text-decoration-none" style="margin-left: 30%;" href="#">Joan Miro</a></li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Escultor
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" style="margin-left: 30%;" href="#">Pintura y Grabado</a>
                        </li>
                        <li><a class="text-decoration-none" style="margin-left: 30%;" href="#">Escultura</a></li>
                        <li><a class="text-decoration-none" style="margin-left: 30%;" href="#">Fotografía</a></li>
                        <li><a class="text-decoration-none" style="margin-left: 30%;" href="#">Serigrafía</a></li>
                        <li><a class="text-decoration-none" style="margin-left: 30%;" href="#">Xilografía</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Artistas</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Recomendados</option>
                            <option>Pintores recomendados</option>
                            <option>Escultores recomendados </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0" style="width: fit-content">
                        <div class="card rounded-0">
                            <a href="{% url 'artistasingle' %}">
                                <img class="card-img" src="{% static 'core/assets/img/Gracia_Barrios.jpg' %}">
                            </a>
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-dark text-white mt-2" href="{% url 'artistasingle' %}"><i
                                                class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Gracia Berrios</h5>
                            <a href="{% url 'artistasingle' %}" style="text-decoration: none; color: #222;">
                                <p class="card-text mb-2">Pintora Chilena</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0" style="width: fit-content">
                        <div class="card rounded-0">
                            <a href="{% url 'artistasingle' %}">
                                <img class="card-img" src="{% static 'core/assets/img/roberto-matta.jpg' %}">
                            </a>
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-dark text-white mt-2" href="{% url 'artistasingle' %}"><i
                                                class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Roberto Matta</h5>
                            <a href="#" style="text-decoration: none; color: #222;">
                                <p class="card-text mb-2">Arquitecto y Pintor Chileno</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0" style="width: fit-content">
                        <div class="card rounded-0">
                            <a href="{% url 'artistasingle' %}">
                                <img class="card-img" src="{% static 'core/assets/img/claude_monet_4.jpg' %}">
                            </a>
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-dark text-white mt-2" href="{% url 'artistasingle' %}"><i
                                                class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Claude Monnet</h5>
                            <a href="#" style="text-decoration: none; color: #222;">
                                <p class="card-text mb-2">Pintor Francés</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0" style="width: fit-content">
                        <div class="card rounded-0">
                            <a href="{% url 'artistasingle' %}">
                                <img class="card-img" src="{% static 'core/assets/img/4016_376599_miro.jpg' %}">
                            </a>
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-dark text-white mt-2" href="{% url 'artistasingle' %}"><i
                                                class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Joan Miro</h5>
                            <a href="#" style="text-decoration: none; color: #222;">
                                <p class="card-text mb-2">Pintor y Escultor Español</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#"
                                tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                                href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->



    {% endblock %}