{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!-- Start Content -->
<div class="container py-5" style="margin-top: 4%;">
    <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">Colecciones</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Recomendados</option>
                                <option>Precio Menor a Mayor</option>
                                <option>Precio Mayor a Menor </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            {% for s in obras %}
                {% if s.habilitado == True %}
                    <div class="col-3">
                        <div class="card mb-4 product-wap rounded-0" style="width: fit-content">
                            <div class="card rounded-0">
                                <a href="#">
                                    <img class="card-img" src="{{ s.imagen.url }}">
                                </a>
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-dark text-white mt-2" href="{% url 'coleccion_detalle' s.id %}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-dark text-white mt-2" href="#"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                {% if s.titulo|length < 24 %}
                                <h5 class="card-title">{{ s.titulo }}</h5>
                                {% else %}
                                <h5 class="card-title">{{ s.titulo|truncatechars:24 }}</h5>
                                {% endif %}
                                <a href="#" style="text-decoration: none; color: #222;"><p class="card-text mb-2">{{ s.autor }}</p></a>
                                <p class="card-text">${{ s.valor|floatformat:"0g" }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
            <div div="row">
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- End Content -->

{% endblock %}