{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<div style="margin-top: 6%;">
    <div class="card-obra mb-3">
        <div class="row g-0 ">
            <div class="col-md-6">
                <img src="{{ obra.imagen.url }}" class="img-fluid rounded-start">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title-obra">{{ obra.titulo }}</h2>
                    <a href="#" style="text-decoration: none;"">
                        <p class="card-text-small-obra"><small class="text-body-secondary">{{ obra.autor }}</small></p>
                    </a>
                    <p class="card-text">{{ obra.descripcion|linebreaks }}</p>
                    <h4 style="text-align: right;">${{ obra.valor|floatformat:"0g" }}       <a href="#" class="btn btn-dark" >Añadir al carrito</a></h4>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}