{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<div style="margin-top: 6%;">
    <div class="card-obra mb-3">
        <div class="row g-0 ">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="{{ obra.imagen.url }}" class="img-fluid rounded-start ">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title-obra">{{ obra.titulo }}</h2>
                    <a href="{% url 'artista_detalle' obra.autor.id %}" style="text-decoration: none;">
                        <p class="card-text-small-obra"><small class="text-body-secondary">{{ obra.autor }}</small></p>
                    </a>
                    <p class="card-text">{{ obra.descripcion|linebreaks }}</p>
                    <h4 style="text-align: right;">${{ obra.valor|floatformat:"0g" }} <div style="justify-content: center;" class="text-center" id="paypal-button"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
    paypal.Button.render({
        // Configure environment
        env: 'sandbox',
        client: {
            sandbox: 'AWvy2NBr7b0Q3KAfvop1kPOiPGsOhYVLLMiQbNJHfoKMHXLI7T_VlVkgn4mAz7UpIcLJjXTWWj_GtoVB',
            production: 'demo_production_client_id'
        },
        // Customize button (optional)
        locale: 'en_US',
        style: {
            size: 'medium',
            color: 'black',
            shape: 'rect',
        },

        // Enable Pay Now checkout flow (optional)
        commit: true,

        // Set up a payment
        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: '10.00', // Acá se puede colocar la variable {{ obra.valor }}, antes hay que modificar la base de datos!.
                        currency: 'USD'
                    }
                }]
            });
        },
        // Execute the payment
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function () {
                // Show a confirmation message to the buyer
                window.alert('Thank you for your purchase!'); // Acá se captura el voucher.
            });
        }
    }, '#paypal-button');

</script>


{% endblock %}