{% extends 'core/colab/colabgc.html' %}
{% load static %}
{% block contenido_colab %}

{% load crispy_forms_tags %}
<br><br>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h2>Listado Solicitudes</h2>
                <hr>
                <table class="table table-striped table-hover table-responsive-sm">
                    <tr>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Categoria</th>
                        <th>Estado</th>
                        <th>Precio</th>
                    </tr>
                
                    {% for s in obras %}
                    <tr>
                        <td>{{ s.titulo }}</td>
                        <td>{{ s.autor }}</td>
                        <td>{{ s.categoria }}</td>
                        <td>
                        {% if s.habilitado == True %}
                        <h6>Aprobado</h6>
                        {% else %}
                            {% if s.mensaje %}
                            <h6 class="font-weight-bold" style="color: red;">**<a class="btn btn-outline-dark" style="margin-left: 3px;" href="{% url 'colabupd' s.id %}">Modificar</a></h6>
                            {% else %}
                            <h6>En progreso.</h6>
                            {% endif %}
                        {% endif %}
                        </td>
                        <td>${{ s.valor|floatformat:"0g" }}</td>
                    </tr>
                
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}