/* CONTAINER ARTISTAS */
#container-artista {
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding-inline: 260px;
    padding-top: 120px;
}

#container-artista .card {
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: 0.1;
}

#container-artista .card-img-top {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* PAGINA DEL ARTISTA */

#artista-uno {
    height: 800px;
    padding-inline: 50px;
}

#artista-uno li {
    padding: 20px;
    height: 500px;
    background-size: cover;
    background-clip: content-box;
    background-position: center;
}

.artista-der {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.contenido-artista p {
    text-align: justify;
}

.artista-uno .contenido-artista {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* LOGIN */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }