{% extends 'core/admin/admingc.html' %}
{% load static %}
{% block contenido_adm %}
<div style="margin-top: 6%;">
    <div class="card-obra mb-3">
        <div class="row g-0 ">
            {% if obra.imagen %}
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="{{ obra.imagen.url }}" class="img-fluid rounded-start">
            </div>
            {% else %}
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <h5>No se subio una imagen</h5>
            </div>
            {% endif %}
            <div class="col-md-6">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-8 offset-md-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h2>Rechazar Obra</h2>
                                        <hr>
                                        <form method="post" action="{% url 'rechazar_obra' obra.id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="titulo">Titulo</label>
                                                <input type="text" class="form-control" id="titulo"
                                                    value="{{ obra.titulo }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="autor">Autor</label>
                                                <input type="text" class="form-control" id="autor"
                                                    value="{{ obra.autor }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="categoria">Descripcion</label>
                                                <input type="text" class="form-control" id="categoria"
                                                    value="{{ obra.descripcion }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="categoria">Categoria</label>
                                                <input type="text" class="form-control" id="categoria"
                                                    value="{{ obra.categoria }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="precio">Precio</label>
                                                <input type="text" class="form-control" id="precio"
                                                    value="${{ obra.valor }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="mensaje">Razon de rechazo</label>
                                                <textarea class="form-control" id="mensaje" name="mensaje" rows="4"
                                                    required></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-success mt-3">Enviar Revisión</button>
                                            <a href="{% url 'adminsolicitud' %}" class="btn btn-danger mt-3">Cancelar</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}